__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/
.env

.DS_Store
.AppleDouble
.LSOverride

.streamlit/secrets.toml

.vscode/

assets/models/
*.bin
*.pt
*.onnx

output/
*.pdf
subiect_examen_ia.pdf

npm-debug.log
HEAD